canvas {
  background-image: url(img/space.jpg);
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  background-size: cover;
}

h1{
  text-align: center;
  font-size: 26px;
  color: #123456;
  text-decoration: underline;

}

body{
  background-color: #999999;
}
